
        <div class="row">
          <div class="col-3"> 
            <div class="form-group d-flex flex-column">
                <label >Nombre</label>
                <input   maxlength="14" [(ngModel)]="formulario.nombre" class="form-control">
            </div>
          </div>
          <div class="col-3"> 
            <div class="form-group d-flex flex-column">
                <label >Apellidos</label>
                <input    maxlength="14" [(ngModel)]="formulario.apellidos" class="form-control">
            </div>
          </div>
          <div class="col-3"> 
            <div class="form-group d-flex flex-column">
                <label >Fecha de nacimiento</label>
                <input type="date"  maxlength="14" [(ngModel)]="formulario.fechaNacimiento" class="form-control">
            </div>
          </div>
            <div class="col-3"> 
                <div class="form-group d-flex flex-column">
                    <label >Lugar de nacimiento</label>
                    <input    maxlength="14" [(ngModel)]="formulario.lugarNacimiento" class="form-control">
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col-3"> 
                <div class="form-group d-flex flex-column">
                    <label >Lugar de residencia</label>
                    <input    maxlength="14" [(ngModel)]="formulario.lugarResidencia" class="form-control">
                </div>
              </div>
              <div class="col-3"> 
                <div class="form-group d-flex flex-column">
                    <label >Genero</label>
                    <select [(ngModel)]="formulario.idgenero" class="form-control">
                        <option value="undefined">--seleccione--</option>
                        <option [ngValue]="item.id" *ngFor="let item of lstGeneros">
                          {{item.nombre}}
                        </option>
                      </select>
                </div>
              </div>
              <div class="col-3"> 
                <div class="form-group d-flex flex-column">
                    <label>Hobbies</label>
                    <input   maxlength="14" [(ngModel)]="formulario.hobbies" class="form-control">
                </div>
              </div>
              <div class="col-3"> 
                <div class="form-group d-flex flex-column">
                    <label >Cursos</label>
                    <select [(ngModel)]="formulario.idcurso" class="form-control">
                        <option value="undefined">--seleccione--</option>
                        <option [ngValue]="item.id" *ngFor="let item of lstCursos">
                          {{item.nombre}}
                        </option>
                      </select>
                </div>
              </div>
        </div>
        <div class="row">
            <div class="col-2"> 
            <button  type="button" class="btn btn-success" (click)=Save()>Guardar</button>
             </div>
        </div>

