<h2>Nuevo formulario</h2>
<div class="container">
    <nuevoformulario-app (actualizar)="NuevoRegistro($event)"></nuevoformulario-app>
    <br>
</div>
<h2>Lista de formularios</h2>
<div class="container">
    <br><br>
    <div class="row">
        <div class="col-3"> 
          <div class="form-group d-flex flex-column">
              <label >Búsqueda por Id</label>
              <input  type="number" [(ngModel)]="id" class="form-control">
          </div>
        </div>
        <div class="col-3"> 
          <div class="form-group d-flex flex-column">
              <button  type="button" class="btn btn-info" (click)=GetFormulariosId()>Buscar</button>
          </div>
        </div>
        <div class="col-3"> 
            <div class="form-group d-flex flex-column">
      
                <button  type="button" class="btn btn-dark" (click)=GetFormularios()>Ver todos</button>
            </div>
          </div>
    </div>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>
                    Nombres y  Apellidos
                </th>
                <th>
                  Genero
                </th>
                <th>
                    Lugar de nacimiento
                </th>
                <th>
                    Lugar de residencia
                </th>
                <th>
                    Fecha de nacimiento
                </th>
                <th>
                    Curso
                </th>
                <th>
                    Profesor
                </th>
                <th>
                    Tipo de curso
                </th>
                <th>
                   Hobbies
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of lstForm">
                <td >
                    {{item.nombre}}  {{item.apellidos}}   ( id={{item.id}})
                </td>
                <td >
                    {{item.genero}} 
                </td>
                <td >
                    {{item.lugarNacimiento}} 
                </td>
                <td >
                    {{item.lugarResidencia}} 
                </td>
                <td >
                    {{item.fechaNacimiento| date:"yyyy-MM-dd"}} 
                </td>
                <td >
                    {{item.curso}} 
                </td>
                <td >
                    {{item.profesor}} 
                </td>
                <td >
                    {{item.tipoCurso}} 
                </td>
                <td >
                    {{item.hobbies}} 
                </td>
            </tr>
        </tbody>
    </table>
</div>
